.bg{
    background-image: linear-gradient(red,white,blue);
    text-align:center;
}



.easy,.med,.hard{
    width:30%;
    word-wrap: break-word;
    display:inline-block;
    margin:1%;

}
#score
{

}